<ul id="header" class="nav nav-tabs">
  <%= render 'static_editors/dropdown_dummy' %>
  <%= render 'static_editors/dropdown_dummy' %>
  <%= render 'static_editors/dropdown_dummy' %>

  <a class="btn btn-primary" id="jump-to-submit" href="#submitform">保存する</a>

  作成者名：<input type="text" placeholder="なまえ"></input>
</ul>