<!-- not use application.html.erb -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>static voxel editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <style>
      body {
        background-color: #f0f0f0;
        margin: 0px;
        overflow: hidden;
      }
      #canvas-container{
        border: 10px solid red;
      }
      canvas{
        border: 10px solid green;
      }
    </style>
  </head>

  <body>
    <!-- HTML -->
    <h1>static voxel editor</h1>

    <!-- script -->
    <%= render 'static_editors/editor_init' %>

  </body>
</html>
