<br>
<br>
<%= render 'static_editors/header' %>

<%# floating UI %>
<style>
div.example {
  position: absolute;
  top: 150px;
  left: 50px;
  background-color: rgba(0,0,255,0.2);
  width:200px;
  height:300px;
  border-radius:5px;
}
</style>
<div class="example">
  <div style="height:30; margin:5px;">
    <input type="checkbox" id="my-checkbox1"> mirror
  </div>
  <div style="height:30; margin:5px;">
    <input type="checkbox" id="my-checkbox2"> delete mode
  </div>
</div>
<script>
  $().ready(function(){
    $("#my-checkbox1").bootstrapSwitch();
    $("#my-checkbox2").bootstrapSwitch();
  });
</script>

<div id="container">
</div>

<%= render 'static_editors/footer' %>

<% 100.times do %>
  <br>
<% end %> 

<a name="submitform"></a>
.<br>
.<br>
.<br>
<%= render 'form' %>

<a onclick="$('body').scrollTop(0)" class="btn btn-primary">エディタに戻る</a>

<% 100.times do %>
  <br>
<% end %> 
