<br>
<br>
<%= render 'static_editors/header' %>

<%# floating UI %>
<style>
div.example {
  position: absolute;
  top: 300px;
  left: 50px;
  background-color: rgba(255,255,0,0.5);
  width:400px;
  height:150px;
}
</style>
<div class="example">
  <div style="height:30;">
    <input type="checkbox" id="my-checkbox" checked><br>
  </div>
</div>
<script>
  $().ready(function(){
    $("#my-checkbox").bootstrapSwitch();
  });
</script>

<div id="container">
</div>

<%= render 'static_editors/footer' %>

<% 100.times do %>
  <br>
<% end %> 

<a name="submitform"></a>
.<br>
.<br>
.<br>
<%= render 'form' %>

<a onclick="$('body').scrollTop(0)" class="btn btn-primary">エディタに戻る</a>

<% 100.times do %>
  <br>
<% end %> 
