<%= render 'voxels/container' %>

<p>
  <strong>User:</strong>
  <%= @voxel.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @voxel.title %>
</p>

<p>
  <strong>Voxeljson:</strong>
  <div id="voxeljson_text">
    <%= @voxel.voxeljson %>
  </div>
</p>
