<div id="container">
</div>

<p>
  <strong>User:</strong>
  <%= @voxel.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @voxel.title %>
</p>

<p>
  <strong>Voxeljson:</strong>
  <%= @voxel.voxeljson %>
</p>
